@{
  ViewData["Title"] = "Login";
}

@using GitJobs.ViewModels
@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
<div class="box">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)<br>

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)<br>

    <input type="submit" value="Log in" class="btn" />
  }

  <h4>If you don't have an account, please register</h4>
  @Html.ActionLink("Register", "Register", "Account", null, new { @class="btn" })
</div>
