@{
  ViewData["Title"] = "SavedJobs";
}


<h1>YOUR SAVED JOBS</h1>
<hr />
<div class="box scrollable">
  @if (User.Identity.IsAuthenticated)
  {
    //Show list of user's saved jobs
    <h3>Hello @User.Identity.Name!</h3>


    @foreach (Job job in Model)
    {
      <ul>
        <li>Title: @job.Title</li>
        <li>Location: @job.Location</li>
        <li>Application Status: @job.Status</li>
        <li><a href="@job.Url" target="_blank">View Posting</a></li>
        <p>@Html.ActionLink("Delete this job", "Delete", new { id = job.JobId })</p>
        <p>@Html.ActionLink("Edit this job", "Edit", new { id = job.JobId })</p>
        <hr>
      </ul>
    }

  }
</div>
@Html.ActionLink("Find More Jobs", "Index", "Jobs", null, new { @class="btn" })