@{
  ViewData["Title"] = "Details";
}

<h1>@Model.Destination</h1>
<hr/>

<div class="box">
  <ul>
    <li>Author: @Model.Author</li>
    <li>Rating: @Model.Rating</li>
    <li>Description: @Model.Description</li>
    <li>City: @Model.City</li>
    <li>Country: @Model.Country</li>
  </ul>

  <div class="three-buttons">
    @Html.ActionLink("EDIT REVIEW", "Edit", "Reviews", new { id = Model.ReviewId}, new { @class="btn" })
    @Html.ActionLink("DELETE REVIEW", "Delete", "Reviews", new { id = Model.ReviewId}, new { @class="btn" })<br>
    @Html.ActionLink("RETURN TO REVIEWS", "Index", "Reviews", null, new { @class="btn" })
  </div>
</div>