@{
  ViewData["Title"] = "Home Page";
}
<div class="row">
  <div class="col-md-6">
    <h1>SEARCH JOBS:</h1>
      <hr/>
      <form action="/Jobs/Search" method="get">
        <label for="title">Title:</label>
        <input id="title" name="title" type="text"><br>
        <label for="location">Location:</label>
        <input id="location" name="location" type="text"><br>
        <label for="description">Description:</label>
        <input id="description" name="description" type="text"><br>
      <button type="submit" class="btn">SEARCH</button>
      </form>
      <br>
  </div>



  <div class="col-md-6">
    <h1>Jobs:</h1>
    <hr/>
    <ol id="jobsList">
    @foreach (Job job in Model)
    {
      <ul>
        <li>Title: @job.Title</li>
        <li>Location: @job.Location</li>
        <li><a href="@job.Url" target="_blank">View Posting</a></li>
        
      </ul>
      
      @using (Html.BeginForm("Create", "Jobs", FormMethod.Get))
      {
        @Html.Hidden("title1", @job.Title)
        @Html.Hidden("location1", @job.Location)
        @Html.Hidden("description1", @job.Description)
        @Html.Hidden("url1", @job.Url)
        
        <input type="submit" value="Add this job" class="btn"/>
      } 
      <br>
    }
    </ol>
  </div>
</div>