@{
  ViewData["Title"] = "Home Page";
}

<!-- <div class="row">
  <div class="col-md-6">
    <h1>SEARCH JOBS:</h1>
    <hr/>
    <form action="/Jobs/Search" method="get">
      <label for="destination">Destination:</label>
      <input id="destination" name="destination" type="text"><br>
      <label for="city">City:</label>
      <input id="city" name="city" type="text"><br>
      <label for="country">Country:</label>
      <input id="country" name="country" type="text"><br>
      <button type="submit" class="btn">SEARCH</button>
    </form>

    @Html.ActionLink("ADD NEW JOB", "Create", "Jobs", null, new { @class="btn" })
  </div>

  <div class="col-md-6">
    <h1>Jobs:</h1>
    <hr/>
    <ol id="jobsList">
    @foreach (Job job in Model)
    {
      <ul>
        @* <li>Author: @job.Author</li>
        <li>Destination: @job.Destination</li>
        <li>Rating: @job.Rating</li>
        <li>Description: @job.Description</li>
        <li>City: @job.City</li>
        <li>Country: @job.Country</li> *@
        <li><a href="/Jobs/Details/@(job.JobId)">VIEW DETAILS</a></li>
      </ul>
      <br>
    }
    </ol>
  </div>
</div> -->