@{
  ViewData["Title"] = "Home Page";
}
<div class="row">
  <div class="col-md-6">
    <h1>SEARCH JOBS:</h1>
    <hr/>
    <div class="container">
      <div class="boxform">
        <form action="/Jobs/Search" method="get"> 

          <label for="title">Title:</label>
          <input type="text" id="title" name="title" ><br>
            
          @* <label for="title">Title:</label>
          <input id="title" name="title" type="text"><br> *@

          <label for="location">Location:</label>
          <input type="text" id="location" name="location" ><br>

          @* <label for="location">Location:</label>
          <input id="location" name="location" type="text"><br> *@ 

        <button type="submit" class="btn">SEARCH</button>
        </form>
      </div>
    </div>
  </div>



  <div class="col-md-6">
    <h1>Jobs:</h1>
    <hr/>
    <ol class="scrollable">
    @foreach (Job job in Model)
    {
      <ul>
        <li>Title: @job.Title</li>
        <li>Location: @job.Location</li>
        <li><a href="@job.Url" target="_blank">View Posting</a></li>
        
      </ul>
      
      @using (Html.BeginForm("Create", "Jobs", FormMethod.Get))
      {
        @Html.Hidden("title1", @job.Title)
        @Html.Hidden("location1", @job.Location)
        @Html.Hidden("url1", @job.Url)
        
        <input type="submit" value="Add this job" class="btn"/>
      } 
      <br>
    }
    </ol>  
  </div>
</div>