@{
  ViewData["Title"] = "Details";
}

<h1>REVIEW DETAILS</h1>
<ul>
  @* <li>ID: @Model.ReviewId</li> *@
  <li>Author: @Model.Author</li>
  <li>Destination: @Model.Destination</li>
  <li>Rating: @Model.Rating</li>
  <li>Description: @Model.Description</li>
  <li>City: @Model.City</li>
  <li>Country: @Model.Country</li>
</ul>

<a href="/Reviews/Edit/@(Model.ReviewId)">EDIT REVIEW</a><br>
<a href="/Reviews/Delete/@(Model.ReviewId)">DELETE REVIEW</a>