@{
  ViewData["Title"] = "Home Page";
}

<h1>EDIT REVIEW:</h1>
<form action="/reviews/details/@(Model.ReviewId)" method="post">
  <label for="author">Author:</label>
  <input id="author" name="author" value="@Model.Author" type="text">
  <br>
  <label for="destination">Destination:</label>
  <input id="destination" name="destination" value="@Model.Destination" type="text">
  <br>
  <label for="rating">Rating:</label>
  <input id="rating" name="rating" value="@Model.Rating" type="number">
  <br>
  <label for="description">Description:</label>
  <input id="description" name="description" value="@Model.Description" type="text">
  <br>
  <label for="city">City:</label>
  <input id="city" name="city" value="@Model.City" type="text">
  <br>
  <label for="country">Country:</label>
  <input id="country" name="country" value="@Model.Country" type="text">
  <br>
  <button type="submit" class="btn">SAVE CHANGES</button>
</form>

<a href="/reviews/details/@(Model.ReviewId)">RETURN TO DETAILS</a>