@{
  ViewData["Title"] = "Home Page";
}

<h1>NEW REVIEW:</h1>
<form action="/Reviews" method="post">
  <label for="author">Author:</label>
  <input id="author" name="author" type="text">
  <br>
  <label for="destination">Destination:</label>
  <input id="destination" name="destination" type="text">
  <br>
  <label for="rating">Rating:</label>
  <input id="rating" name="rating" type="number">
  <br>
  <label for="description">Description:</label>
  <input id="description" name="description" type="text">
  <br>
  <label for="city">City:</label>
  <input id="city" name="city" type="text">
  <br>
  <label for="country">Country:</label>
  <input id="country" name="country" type="text">
  <br>
  <button type="submit" class="btn">ADD REVIEW</button>
</form>

<h1>search for reviews!</h1>
<form action="/Reviews/Search" method="get">
  <label for="destination">Destination:</label>
  <input id="destination" name="destination" type="text"><br>
  <label for="city">City:</label>
  <input id="city" name="city" type="text"><br>
  <label for="country">Country:</label>
  <input id="country" name="country" type="text"><br>
  <button type="submit" class="btn">SEARCH</button>
</form>

<h1>REVIEWS:</h1>
<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>ID: @review.ReviewId</li>
    <li>Author: @review.Author</li>
    <li>Destination: @review.Destination</li>
    <li>Rating: @review.Rating</li>
    <li>Description: @review.Description</li>
    <li>City: @review.City</li>
    <li>Country: @review.Country</li>
  </ul>
  <a href="/Reviews/Details/@(review.ReviewId)">DETAILS</a>
  <br>
}
</ol>